.main {
  width: 100%;
  margin-bottom: 1rem;
}

.img {
  width: 100%;
  height: calc(100% - 1.8rem);

  object-fit: cover;
}

.caption {
  font-size: 0.8rem;
  font-weight: 400;
  color: #777;
  width: 100%;
  text-align: center;
}

.author_link {
  color: inherit;
  text-decoration: underline;
}
