@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,700;0,900;1,400&display=swap");

* {
  font: inherit;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  padding: 0;
}

.header {
  padding: 1rem;
  border-bottom: 2px solid #eaeaea;
  font-weight: 500;
  font-size: 1.2rem;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  max-width: 700px;
}
