@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;0,900;1,400&display=swap");

* {
  font: inherit;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: "Fira Code", monospace;
}

html {
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

p,
li {
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
  margin-top: 0;
}

b {
  font-weight: 700;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.max-width {
  width: 100%;
  max-width: 900px;
}
